<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<div id="nav-menu" align="center">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td>Menu -></td>
                    <td><a th:href="@{/}">Home</a></td>
                    <td><a th:href="@{/products}">Products</a></td>
                    <td><a th:href="@{/users}">Users</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <td align="right">
        <div sec:autorize="isAuthenticated()">
            <div>
                Hello, <span sec:authentication="principal.username">Dill</span>
            </div>
            <div>
                <a href="@{/logout}">Logout</a>
            </div>
        </div>
        <div sec:autorize="!isAuthenticated()">
            <div>
                Hello unknow. Please<a href="@{/login}">Login</a>
            </div>
        </div>
    </td>
</div>
</body>
</html>