<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div id="nav-menu" align="center">
    <table>
        <tr>
            <td>Menu -></td>
            <td><a th:href="@{/}">Home</a></td>
            <td><a th:href="@{/products}">Products</a></td>
            <td><a th:href="@{/login}">Login</a></td>
            <td><a th:href="@{/users}">Users</a></td>
        </tr>
    </table>
</div>
</body>
</html>